@font-face {
    font-family: 'zabars';
    src: url('font/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/10_game/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 100vh;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-shadow: 0px 0 20px #ffd113;
}

.d-none {
    display: none !important;
}

canvas {
    background-color: black;
}

.game-menu {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-menu div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-menu div:hover span {
    top: -250px;
}

.game-menu span {
    font-size: 32px;
    position: relative;
    top: 0;
    transition: all 0.3s ease-out;
}

.game-menu .start .image {
    background-image: url('img/10_game/start.png');
    background-size: contain;
    width: 200px;
    height: 200px;
}

.game-menu .start:hover .image {
    background-image: url('img/10_game/start_hover.png');
}

.control {
    width: 720px;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
}

.control .sound {
    cursor: pointer;
}

.help {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 720px;
}

.help-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.keyboard-button img {
    width: 15px;
}

.keyboard-button {
    display: inline-block;
    padding: 7px 14px;
    font-size: 23px;
    font-family: monospace;
    color: #000;
    background: #f3d132;
    border: 2px solid #e99230;
    border-radius: 6px;
    box-shadow: 0 2px 0 #e99b39, 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.1sease -in-out;
    font-weight: bold;
}

.keyboard-button-long {
    padding: 7px 80px;
}

.keyboard-button:active {
    box-shadow: 0 1px 0 #e7942e, 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.help-info {
    font-size: 23px;
}