@font-face {
  font-family: "zabars";
  src: url("../assets/fonts/zabars/zabars.ttf") format("truetype");
}

@font-face {
  font-family: "rye";
  src: url("../assets/fonts/rye/rye-regular.ttf") format("truetype");
}

.d-none {
  display: none !important;
}
